@import '../../styles/colors.scss';

#Footer nav {
  text-align: center;
  font-size: 10px;
}

#Footer div.nav-list-container {
  margin: 0;
  padding: 0;
  height: auto;
}

#Footer ul {
  margin: 0;
  padding: 0;
}