#GatelistForm {
  display:block;
  float: none;
  margin: 0 0 5px 0;
}

#GatelistForm span {
  margin: 0 0 0 10px;
}

#gatelist-form-container {
  height: 75px;
}

.filled-gatelist-slots {
  font-size: 18px;
}

.gatelist-form-fields .form-label {
  margin: 0 5px 0 0;
}

.gatelist-form-table {
  width: 100%;
}

.gatelist-form-controls {
  display: inline;
}

.gatelist-form-controls button {
  margin: 0 2px 0 2px;
}

.form-group {
  margin: 0 5px 0 5px;
}